#! /run java app
sudo dnf update -y
sudo dnf install mariadb105
mysql -h database-2.cl4ysts5zkib.eu-central-1.rds.amazonaws.com -P 3306 -u root -p
sudo yum clean metadata 
sudo yum install java-11-amazon-corretto
mkdir /home/ec2-user/tomajapp && cd /home/ec2-user/tomajapp
wget https://github.com/Tomczi18/SpringBoot_Thymeleaf_udemy/releases/download/v1.2.0/thymeleafDemoApp-0.0.1-SNAPSHOT.war -P //home/ec2-user/tomajapp 
export DB_URL=database-2.cl4ysts5zkib.eu-central-1.rds.amazonaws.com
export DB_HOSTNAME=root
export DB_PASSWORD=majam1234
java -jar /home/ec2-user/tomajapp/thymeleafDemoApp-0.0.1-SNAPSHOT.war > /home/ec2-user/tomajapp/myapp.log &